.header{
    height: 60px;
    width: 100%;
    position: fixed;
    box-shadow: 0 0 30px 0 rgb(255 255 255 / 10%);
    z-index: 99;
}

.headerContainer{
    justify-content: flex-end;
    align-items: center;
}