@import "src/common/styles/sass/variables";

.contactsBlock {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contactsContainer {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.contacts {
    width: 500px;
    max-width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    /*align-items: ;*/
    justify-content: space-between;
}

.input {
    color: $primaryColor;
    border-radius: 5px;
}

.textarea {
    min-width: 100%;
    max-width: 100%;
    max-height: border-box;
    color: $primaryColor;
    border-radius: 5px;
}

.button{
    left: 50%;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: $buttonBgColor;
    color: $buttonColor;
}

.button:hover{
    background-color: $buttonHoverBgColor;
    color: $buttonHoverColor;
}

.button:active {
    background-color: $buttonActiveBgColor;
    color: $buttonActiveColor;
}