@import "src/common/styles/sass/variables";

.skill{
    width: 350px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid $borderColor;
    border-radius: 20px;
}

.icon{
    width: 60px;
    height: 60px;
}

.title{
    font-family: 'Inter', sans-serif;
    color: $primaryColor;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px ;
}

.description{
    font-family: 'Inter', sans-serif;
    color: $primaryColor;
    font-size: 14px;
}