@import "src/common/styles/sass/variables";

.mainBlock {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: $backgroundColor;
}

.mainContainer {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.message {
    width: 400px;
    font-size: 28px;
    max-height: 450px;
    color: $primaryColor;
}

.greenText{
    color: $secondColor;
}

.photo {
    width: 400px;
    max-width: 90%;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}