$primaryColor: #FFF;
$secondColor: #28E98C;
$backgroundColor: #1f1f1f;
$secondBackgroundColor: #181818;
 //buttons
$buttonBgColor: #f1f1f1;
$buttonColor: #000;
$buttonHoverBgColor: #1f1f1f;
$buttonHoverColor: #FFF;
$buttonActiveBgColor: #545454;
$buttonActiveColor: #f1f1f1;

$borderColor: #565656;