@import "src/common/styles/sass/variables";

.footerBlock {
    height: 240px;
    display: flex;
    align-items: center;
}
.footerContainer {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title{
    margin: 0 auto;
}

.rights{
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    color: $primaryColor;
}

.socialNetworks {
    /*border:  1px solid #565656;*/
    /*border-radius: 30px;*/
    width: 400px;
    max-width: 95%;
    display: flex;
    justify-content: space-around;
}